@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    scroll-behavior: smooth;
}

@font-face {
    font-family: "Archivo Black";
    src: url("https://fonts.googleapis.com/css?family=Archivo+Black");

    font-family: "Alata";
    src: url("https://fonts.googleapis.com/css?family=Alata");
}

.active {
    @apply before:content-["⤷"] underline;
}

::-webkit-scrollbar {
    @apply w-2 bg-blanc;
}

::-webkit-scrollbar-thumb {
    @apply bg-noir rounded;
}

::-webkit-scrollbar-track {
    @apply bg-blanc;
}

::selection {
    @apply bg-zinc-500;
}

.bgCard {
    background-image: url("../img/Home/bghome.png");
    background-size: cover;
    background-size: 110% 110%;
    background-repeat: no-repeat;
    background-position: center;
}

.homeDown {
    background-image: url("../img/Home/homeDown.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.notfound-bg {
    background:
      radial-gradient(farthest-side at -33.33% 50%, #0000 52%, #303031 54% 57%, #0000 59%) 0 calc(128px/2),
      radial-gradient(farthest-side at 50% 133.33%, #0000 52%, #303031 54% 57%, #0000 59%) calc(128px/2) 0,
      radial-gradient(farthest-side at 133.33% 50%, #0000 52%, #303031 54% 57%, #0000 59%),
      radial-gradient(farthest-side at 50% -33.33%, #0000 52%, #303031 54% 57%, #0000 59%),
      #0e0e0e;
    background-size: calc(128px/4.667) 128px, 128px calc(128px/4.667);

  }