@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Archivo Black";
    src: url("https://fonts.googleapis.com/css?family=Archivo+Black");

    font-family: "Alata";
    src: url("https://fonts.googleapis.com/css?family=Alata");
}

.active {
    @apply before:content-["⤷"] underline;
}

::-webkit-scrollbar {
    @apply w-2 bg-blanc;
}

::-webkit-scrollbar-thumb {
    @apply bg-noir rounded;
}

.bgCard{
    background-image: url("../img/Home/bghome.png");
    background-size: cover;
    background-size: 110% 110%;
    background-repeat: no-repeat;
    background-position: center;
}